<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>

<body>
    <h1>{{oneBook.title}}</h1>
    <h2>ID: {{oneBook.id}}</h3>
        <div id="desc">
            <p>Description:</p>
            <p2>{{oneBook.desc}}</p2>
        </div>
        <h3>Authors:</h3>
        <ul>
            {% for a in oneBook.publishers.all %}
            <li>{{a.firstName}} {{a.lastName}}</li>
            {% endfor %}
        </ul>
        <form action="/appendAuthor/{{oneBook.id}}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="book" value="{{oneBook.id}}">
            <select name="author" id="author">
                {% for author in allTheAuthors %}
                <option value="{{author.id}}">{{author.firstName}} {{author.lastName}}</option>
                {% endfor %}
            </select>
            <button type="submit">Add</button>
        </form>
        <a href="http://localHost:8000/">go back to books</a>
</body>

</html>